.notification-area {
    .header {
        padding: 10px;
        border-bottom: solid 1px rgba(203, 197, 197, 0.23);

        h4 {
            font-size: 1.25rem;
            font-weight: bold;
            margin: 0;
        }
    }
}