<!-- Navigation-->
<%= render 'admin/shared/navigation' %>
<!-- ErrorMessages-->
<%= render 'shared/error_messages', :resource => @product %>
<!-- Header-->
<header class="text-center py-5 my-5">
  <h1 class="display-6 fw-bolder">商品作成</h1>
</header>
<!-- form-->
<%= render 'form', :product => @product, :url => admin_products_path %>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; KOKOTOWN 2023</p>
  </div>
</footer>
