.tweet {
    .is-retweet-text {
        font-size: 0.725rem;
        color: rgb(157, 155, 155);
    }

    .tweet-name-dots {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: #000;

        .tweet-text {
            overflow-wrap: break-word;
        }

        .images {
            width: 300px;

            img {
                width: 50%;
            }
        }
    }


    .icon-area {
        margin: 20px 0 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .comment-icon {
            cursor: pointer;
        }

        .retweet {
            display: flex;
            align-items: center;

            .retweet-icon {
                cursor: pointer;
            }

            .retweet-icon.active {
                color: rgb(3, 233, 156);
            }

            p {
                margin: 0;
            }
        }

        .favorite {
            display: flex;
            align-items: center;

            .favorite-icon {
                cursor: pointer;
            }

            .active {
                font-size: 0.8rem;
                color: red;
            }

            p {
                margin: 0;
            }
        }

        .bookmark-icon {
            cursor: pointer;
        }
    }
}