.cm-header {
  margin: 0;
  padding: 0;
}
.HyperMD-header-1,
.markdown-preview-view h1 {
  color: #ffdd00;
  font-size: 24px;
}

.HyperMD-header-2,
.markdown-preview-view h2 {
  color: #ffdd00;
  font-size: 22px;
}

.HyperMD-header-3,
.markdown-preview-view h3 {
  color: #ffdd00;
  font-size: 20px;
}

.HyperMD-header-4,
.markdown-preview-view h4 {
  color: #ffdd00;
  font-size: 18px;
}

.HyperMD-header-5,
.markdown-preview-view h5 {
  color: #ffdd00;
  font-size: 18px;
}
